<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>female</title>
	<link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
	<div id="app">
		<ul class="wrapper" v-if="images.length">
			<li class="item" v-for="image of images">
				<img :src="image.src">	
			</li>
		</ul>
	</div>
</body>
<script src="/static/js/vue/dist/vue.min.js"></script>
<script src="/static/js/superagent/superagent.js"></script>
<script src="/static/js/beauti.js"></script>
</html>