:root,
* {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
#app .wrapper {
  font-size: 0;
  position: relative;
}
#app .wrapper .item {
  float: left;
  width: 20%;
  padding: 4px;
  box-sizing: border-box;
}
#app .wrapper .item .img-wrapper {
  padding: 4px;
  border: 1px solid rgba(7,17,27,0.3);
}
#app .wrapper .item .img-wrapper img {
  width: 100%;
}
