:root,
* {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
#app .wrapper {
  font-size: 0;
  position: relative;
}
#app .wrapper.clearfix::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}
#app .wrapper .item {
  float: left;
  width: 20%;
  padding: 4px;
  box-sizing: border-box;
  transition: all 0.8s;
}
#app .wrapper .item .img-wrapper {
  padding: 4px;
  border: 1px solid rgba(7,17,27,0.3);
  border-radius: 4px;
}
#app .wrapper .item .img-wrapper img {
  width: 100%;
  border-radius: 4px;
}
#app .loading {
  position: fixed;
  bottom: 20px;
  left: 50%;
}
#app .loading h3 {
  text-align: center;
}
