:root, *
	padding 0
	margin 0
ul
	list-style none

#app
	.wrapper
		font-size 0
		position relative
		&.clearfix
			&::after
				content ''
				display block
				width 100%
				height 1px
				opacity 0
				overflow hidden
				visibility hidden
				clear both
		.item
			float left
			width 20%
			padding 4px
			box-sizing border-box
			transition all .4s
			.img-wrapper
				padding 4px
				border 1px solid rgba(7, 17, 27, .3)
				img
					width 100%
	.loading
		position fixed
		bottom 20px
		left 50%
		h3
			text-align center